$primary: #0d8ed4;
$secondary: #00527d;
$primary-dark: #00334e;
$white: #d1dcee;
$orange: #fca523;
// $white: #f3f3f3;
$black: #020319;

$grey: #afb1bd;
$invalid: #fa755a;

$box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.1);

$mobile: "480px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
$widescreen: "1440px";
